In [83]:
import pandas as pd
import json

In [84]:
df = pd.read_json('sample.txt',orient='records')

Valor Total

In [85]:
df['valorTotal'] = df['complemento'].map(lambda x: x['valorTotal'])

In [86]:
df = df.drop(['complemento'], axis=1)

In [87]:
df.ide[15]

{'dhEmi': {'$date': '2016-01-05T12:40:43.000Z'}, 'natOp': 'VENDA'}

Date

In [88]:
raw_dates = df['ide'].map(lambda x: x['dhEmi']['$date'])
dates = raw_dates.apply(lambda x: pd.to_datetime(x))

In [89]:
df['date'] = dates

natOp

natOp só tem venda

In [90]:
df = df.drop(['ide'], axis=1)

In [91]:
table = df['infAdic'].map(lambda x: x['infCpl'])
table = table.str.extract('(\d?\d)', expand =False)
df['Table'] = table

In [92]:
df = df.drop(['infAdic'], axis=1)

In [93]:
df = df.drop(['versaoDocumento'], axis=1)

In [101]:
df = df.drop(['emit'], axis=1)

In [105]:
df = df.drop(['total'], axis=1)

# Terminar coluna dets para fechar formatação de tabela

In [125]:
df['dets'].map(lambda x: x[0]['prod']['xProd']).unique()

array(['AGUA', 'BUFFET', 'SUCO', 'CHA', 'LIMONADA', 'CAFE EXPRESSO',
       'TEMAKI', 'SAKE', 'CERVEJA LATA', 'WHISKY', 'SUSHI ESPECIAL',
       'SASHIMI', 'CERVEJA', 'YAKISSOBA', 'SOBREMESA', 'HARUMAKI',
       'CAIPIRINHA', 'CAIPIROSKA', 'URAMAKI'], dtype=object)

In [106]:
df.head()

,dets,valorTotal,date,Table
0,"[{'nItem': '1', 'prod': {'indTot': '1', 'qCom'...",24.90,2016-01-05 12:01:54,2
1,"[{'nItem': '1', 'prod': {'indTot': '1', 'qCom'...",92.53,2016-01-05 12:03:52,1
2,"[{'nItem': '1', 'prod': {'indTot': '1', 'qCom'...",57.86,2016-01-05 12:16:40,5
3,"[{'nItem': '1', 'prod': {'indTot': '1', 'qCom'...",34.97,2016-01-05 12:17:50,3
4,"[{'nItem': '1', 'prod': {'indTot': '1', 'qCom'...",46.23,2016-01-05 12:18:35,4

In [4]:
with open('sample.txt') as file:
    status = []
    for line in file:
        status.append(json.loads(line))

JSONDecodeError: Expecting value: line 2 column 1 (char 2)